<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title></title>
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    
  </head>
  <body>
    <div class="twits">
      <form action="background-sounds">
   
    <button >음악전체데이터</button>
    </form>
 
    <form action="/background-sounds/search">
   <input type="text" name="post_title">
      <button >소리검색</button>
      </form>

      <form action="background-sounds/play">
        <input type="text" name="post_title1">
           <button >소리요청</button>
           </form>


 <form action="/bestmusic/input">
 <input type="text" name="post_user" placeholder="유저아이디">
 <input type="text" name="post_bestmusic"placeholder="해당소리">
   <button >유저</button>
 </form>

 <form action="/background-sounds/favorite">
  <input type="text" name="bool" placeholder="즐겨찾기 true/false">
   <input type="text" name="background" placeholder="sound_id"> 
     <button >소리페이지 즐찾</button>
  </form>


  <form action="/favorites">
    <input type="text" name="id" placeholder="유저 아이디">
       <button >즐찾페이지 소리뿌려주기</button>
    </form>

    <form action="/favorites/search">
      <input type="text" name="favorite_post_title">
         <button >즐찾페이지 검색하기</button>
      </form>



</div>
</div>
    
    <script>
      
    </script>
    
  </body>
</html>