<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title></title>
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    
  </head>
  <body>
    <div class="twits">
      <form id="hashtag-form" action="/music">
    <input type="text" name="post_title" placeholder="검색">
    <button >검색</button>
    </form>
    {% for twit in twits %}
    <div class="twit">   
        <div class="twit-author">{{twit.Music.title}}</div>
        {% endfor %}
</div>
</div>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
      
    </script>
    
  </body>
</html>